header {
    padding: 2rem 5rem;
}

header nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header nav #home-link {
    font-size: 2.8rem;
    text-decoration: none;
    color: black;
}

header nav ul li {
    display: inline;
}

header nav ul li a {
    color: black;
    text-decoration: none;
    padding: 1rem;
}

header nav #contact-link {
    padding: 1rem 1.2rem;
    border-radius: 50px;
    background-color: black;
    color: #fff;
    text-decoration: none;
}

header nav #contact-link:hover {
    background-color: #333;
}

header nav #menu-icon {
    cursor: pointer;
}

header nav .menu-icon {
    display: block;
    width: 3rem;
    height: 0.2rem;
    background-color: black;
    position: relative;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.menu-icon:before,
.menu-icon:after {
    content: "";
    position: absolute;
    width: 3rem;
    height: 0.2rem;
    background-color: black;
    transition: transform 0.3s ease-in-out;
}

.menu-icon:before {
    top: -8px;
}

.menu-icon:after {
    top: 8px;
}



/* For Desktop View */
@media screen and (min-width: 1024px) {
    /* header nav #menu-icon {
        display: none;
    } */
}

/* For Tablet View */
@media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    /* header nav ul {
        display: none;
    }

    header nav #contact-link {
        display: none;
    } */

    /* header nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
    } */
}

/* For Mobile Phones Portrait or Landscape View */
@media screen and (max-device-width: 640px) {
    header {
        padding: 1rem 1rem;
    }

    header nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
    }
    

    /* header nav ul {
        display: none;
    }

    header nav #contact-link {
        display: none;
    } */
}