.content {
  margin-top: 5.8rem;
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content .main-content {
  position: relative;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.content .main-content .word {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.content .main-content .card {
  padding: 0.5rem;
  position: relative;
  width: 25rem;
  height: auto;
  margin: 1rem;
  border-radius: 20px;
  overflow: hidden;
}

.founder {
  margin-bottom: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.founder .main-content {
  position: relative;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.founder .main-content .word {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.founder .main-content .card {
  padding: 0.5rem;
  position: relative;
  width: 25rem;
  height: auto;
  margin: 1rem;
  border-radius: 20px;
  overflow: hidden;
}

.founder .main-content .card img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.founder .main-content .card h1 {
  text-align: center;
}